.item-container {
  margin-right: 20px;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 40px;
  
  img {
    width: 360px;
    height: 360px;
    object-fit: cover;
  }

  h5 {
    color: #aaa;
  }

  .actions {
    button {
      background-color: transparent;
      border: none;
      outline: none;

      &.active {
        color: #F44336;
      }

      &.undo-btn {
        border: 1px #ccc solid;
        padding: 10px;
        border-radius: 10px;

        svg {
          margin-right: 10px;
        }


        &:active {
          background-color: #ccc;
        }
      }
    }
  }
}