.sort-dropdown {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;

  .dropdown {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 10px;
    min-width: 160px;
    text-align: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    
    button {
      background: none;
      outline: none;
      border: none;
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
  }
}

